# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vs

# unused assets
src/assets/Chants
src/assets/FX
src/assets/Hats
src/assets/Kick
src/assets/Open Hats
src/assets/Percs
src/assets/Snares
