body {
  background: rgb(54, 25, 25);
}

.App {
  padding: 13px;
  text-align: center;
}

#drum-machine {
  width: 50%;
  margin: auto;
  padding-top: 2em;
  background: rgb(114, 165, 84);
  text-align: center;
}

#drumGrid {
  box-sizing: border-box;
  width: 300px;
  margin: auto;
  margin-top: 50px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  padding-right: 6px;
}

.drum-pad {
  text-align: center;
  border: 1px solid black;
  cursor: pointer;
  user-select: none;
  border-radius: 5%;
  padding: 30%;
  background: rgb(133, 139, 167);
  color: white;
  font-size: 30px;
}

.clicked {
  background: rgb(206, 206, 206);
  color: rgb(9, 46, 9);
}

@media only screen and (max-width: 800px) {
  #drum-machine {
    width: 100%;
  }
}
