footer {
  width: fit-content;
  margin: auto;
  margin-top: 100px;
  background: rgb(114, 165, 84);
  padding: 25px;
  color: white;
}

footer a {
  text-decoration: none;
  color: rgb(230, 55, 55);
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}
